<div class="card testimonial testimonial--visible-overflow">
    <div class="grid grid--1x2">
        <div class="testimonial__image">
            <img src="./Images/testimonial.jpg" alt="A happy, smiling customer">
            <span class="icon-container icon-container--accent">
                <svg class="icon icon--white icon--small">
                    <use xlink:href="./Images/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>
        <blockqote class="quote">
            <p class="quote__text">
                Lorem ipsum dolor, sit amet consectetur 
                adipisicing elit. Commodi, eveniet aliquam? 
                Magni nobis quia in ut atque doloremque 
                vitae ratione?
            </p>
            <footer>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="./Images/sprite.svg#line"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title quote__author">John Smith</h3>
                        <p class="quote__organization">ABC Company</p>
                    </div>
                </div>
            </footer>
        </blockqote>
</div>